<div class="mx-auto max-w-full px-24 py-12" data-controller="board">
    <div class="mx-auto max-w-full">
        <h1>Hello from Boards#controller</h1>
        <div id="board" class="overflow-x-scroll"></div>
    </div>
</div>
