<div class="mx-auto max-w-2xl px-4 py-4 flex justify-between items-center sm:px-6 lg:px-8">
    <% if user_signed_in? %>
        <h1>User Profile: <%= current_user.email %></h1>
    <% end %>
    <%= link_to "Edit Profile", edit_user_registration_path, class:"px-4 py-2 bg-[#0A3D62] text-[#fff] rounded-md" %>
</div>